<div class='title'>New Company Value</div>
<%= render 'form', company_value: @company_value %>
<div class='columns is-vcentered mt-1 has-text-centered'>
  <%= link_to 'Back', admins_company_values_path, class:'column' %>
</div>
