

<div class='title'>Admin Dashboard</div>

<%= link_to 'Kudo list', admins_kudos_path, class:'button'%>
<%= link_to 'Employee list', admins_employees_path, class:'button'%>

<%# <%= link_to 'New Kudo', new_kudo_path,class:'button is-primary' %>
