<div class='title'>New Kudo</div>

<% if current_employee.number_of_avaible_kudos.positive?%>
<%= render 'form', kudo: @kudo %>
<% else %>
<% controller.redirect_to kudos_path, notice: "Za mała ilość dostępnych kudo"%>
<% end %>
<div class='columns is-vcentered mt-1 has-text-centered'>
<%= link_to 'Back', kudos_path,class:'column' %>
</div>
