<div class='title'>New Category</div>
<%= render 'form', category: category %>
<div class='columns is-vcentered mt-1 has-text-centered'>
  <%= link_to 'Back', admins_categories_path, class:'column' %>
</div>
