<div class='title'>Editing Reward</div>
<%= render 'form', reward: reward %>
<div class='columns is-vcentered mt-1 has-text-centered'>
  <%= link_to 'Show', admins_reward_path(reward), class:'column' %>
  <%= link_to 'Back', admins_rewards_path, class:'column' %>
</div>
